/*
Colors used
background color: #FFFD99
text color: #282A3E
primary color:
secondary color: 
*/

body {
    background-color: #FFFD99;
    color: #282A3E;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}