/*
Colors used
background color:
text color: 
primary color:
secondary color: 
*/

body {
    align-items: center;
    background-color: #fff;
    color: #282A3E;
    display: flex;
    flex-direction: column;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.6;
}

h1 {
    text-align: center;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;

    /* To show modal above other content */
    z-index: 999;

    /* To allow scrolling if the screen is not high enough */
    overflow: auto;

    /* Center the modal */
    display: grid;
    text-align: center;
}

.modal {
    background: #CEBADE;
    border: 2px solid #0F0326;
    box-sizing: border-box;
    display: inline-block;
    margin: auto;
    max-width: 400px;
    padding: 15px;
    text-align: left;
    width: 100%;
}

.modal-close {
    background: none;
    border: 0;
    color: gray;
    float: right;
    text-decoration: underline;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-bottom: 0;
}

.modal img {
    margin-left: -0.5em;
    margin-top: -6em;
    position: absolute;

}

.button-class {
    background-color: #E5E1EE;
    border: 2px solid #9368B7;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rajdhani' , sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 200px;
}

.button-class:hover {
    background-color: #68EDC6;
    color: #000
}

.pokemon-list {
    list-style: none;
}

/* Media query for mobile devices */
@media screen and (min-width: 480px) {

}

/* Media query for tablets */
@media screen and (min-width: 768px) {

}

/* Media query for laptops, small screens */
@media screen and (min-width: 992px) {

}

/* Media query for desktops, large screens */
@media screen and (min-width: 1200px) {

}